<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite Review1">
	
  <test thread-count="5" name="Test R1">
    <packages>
      <package name="com.neotech.review01"/>
    </packages>
  </test> <!-- Test R1 -->
</suite> <!-- Suite Review1 -->
